<section class="welcome-to register">
  <div class="form-wrapper auth-form form-register">
    <div class="form-title">
      <h1 class=" m-0">Registration</h1>
      <p class="m-0">Type your data and hit Yalla!</p>
    </div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input type="text" [(ngModel)]="user.firstName" required #firstName="ngModel" id="firstName"
              name="firstName" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Last Name</span>
            </div>
            <input type="text" [(ngModel)]="user.secondName" required #secondName="ngModel" id="secondName"
              name="secondName" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" [(ngModel)]="user.email" required #email="ngModel" id="email" name="email"
              class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input type="password" [(ngModel)]="user.password" required #password="ngModel" id="password"
              name="password" class="form-control">
          </div>

          <div class="checkbox">
            <input type="checkbox" class="checkbox checkbox-primary" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">I agree to the <a href="#">terms of use</a>
              and <a href="#">privacy policy</a>.</label>
          </div>
          <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-red btn-yalla">Y’alla!</button>
        </div>
      </div>
    </form>
    <span class="skewed-red-border"></span>
  </div>
</section>
<app-promo-banner></app-promo-banner>
<app-most-popular></app-most-popular>
<app-latest-feeds></app-latest-feeds>
