<section class="promo-banner">
  <span class="skewed-red-border"></span>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-3">
        <div class="section-heading">
          <h1>NEVER MISTAKEN <br>FOR Anything else</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="promo-text pr-lg-5 mr-lg-5">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee
          cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie
          gingerbread. Icing wafer pie pudding ice cream bonbon
          halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>
      </div>
      <div class="col-lg-3">
        <h3 class="promo-caption">Affordable prices Guaranteed cars</h3>
        <a href="#" class="btn btn-red btn-promo">Join now!</a>
      </div>
    </div>
  </div>
</section>
