<section class="welcome-to register">
  <div class="form-wrapper auth-form form-register">
    <div class="form-title">
      <h1 class=" m-0">Log in</h1>
      <p class="m-0">Type your data and hit Yalla!</p>
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Username</span>
            </div>
            <input type="text" [(ngModel)]="loginModel.username" required #username="ngModel" id="username"
              name="username" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input type="password" [(ngModel)]="loginModel.password" required #password="ngModel" id="password"
              name="password" class="form-control">
          </div>
          <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-red btn-yalla">Y’alla!</button>
        </div>
      </div>
    </form>
    <span class="skewed-red-border"></span>
  </div>
</section>
