<section class="most-popular">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6">
        <div class="section-heading">
          <span>3</span>
          <h1>MOST POPULAR <br />CHOICES IN YOUr area</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="popular-caption pr-lg-5 mr-lg-5">
          Candy canes topping dessert jelly beans pie jelly beans sweet roll.
          Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o
          bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
          pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu
          bear claw tart.
        </p>
      </div>
    </div>
  </div>
  <div class="skewed-blocks-wrapper">
    <div class="skew-block-inner">
      <div class="most-popular-owl owl-carousel owl-theme" id="mostPopularOwl">
        <div class="skewed-block" *ngFor="let car of topCars">
          <div class="skewed-img"><img src="{{car.imageUrl}}"></div>
          <div class="block-detail">
            <h3 class="car-name">{{car.make}}-{{car.model}}</h3>
            <h1 class="car-price">{{car.pricePerDay}}</h1>
          </div>
        </div>
        <!-- <div class="skewed-block">
          <div class="skewed-img">
            <img src="../../assets/images/car1.png" />
          </div>
          <div class="block-detail">
            <h3 class="car-name">BLACKSTAR</h3>
            <h1 class="car-price">300</h1>
          </div>
        </div>
        <div class="skewed-block">
          <div class="skewed-img">
            <img src="../../assets/images/car2.png" />
          </div>
          <div class="block-detail">
            <h3 class="car-name">BLACKSTAR</h3>
            <h1 class="car-price">300</h1>
          </div>
        </div>
        <div class="skewed-block">
          <div class="skewed-img">
            <img src="../../assets/images/car3.png" />
          </div>
          <div class="block-detail">
            <h3 class="car-name">BLACKSTAR</h3>
            <h1 class="car-price">300</h1>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
