<header id="header">
  <div class="sidebar-overlay"></div>
  <div class="container">
    <nav class="navbar navbar-expand-xl">
      <a href="index.html" class="navbar-brand"><img src="../assets/images/brand-logo.svg" width="200px"
          alt="ilCarro Logo" /></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#">Let the car work</a>
          <a class="nav-link" href="#">Terms of use</a>
          <a class="nav-link" href="/registration">Sign up</a>
          <a class="nav-link" href="#">Log in</a>
        </ul>
      </div>

      <button class="navbar-toggler collapsed btn-ripple" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i></i>
        <i></i>
        <i></i>
      </button>
    </nav>
  </div>
</header>

<main class="page-main">
  <router-outlet></router-outlet>
</main>

<footer>

  <div class="container">
    <div class="row py-4">
      <div class="col-xl-6">
        <div class="footer-about">
          <p class="line-clamp line-clamp-2">Candy canes topping dessert jelly beans pie jelly beans sweet roll.
            Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake
            cookie gingerbread. Icing wafer pie pudding ice cream bonbon
            halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>
          <img src="../assets/images/brand-logo.svg">
        </div>

      </div>
      <div class="col-xl-6">
        <ul class="social-links list-unstyled">
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-send"></i></a></li>
          <li><a href="#"><i class="fa fa-vk"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-hashtag"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 offset-xl-6">
        <ul class="footer-navbar-nav">
          <li><a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href="#">Let the car work</a></li>
          <li><a class="nav-link" href="#">Terms of use</a></li>
          <li><a class="nav-link" href="#">Sign up</a></li>
          <li><a class="nav-link" href="#">Log in</a></li>
        </ul>
        <div class="footer-detail">
          <div class="footer-top-cities">
            <h6>TOP CITIES</h6>
            <ul>
              <li>New-York</li>
              <li>Tokyo</li>
              <li>Paris</li>
              <li>London</li>
            </ul>
            <ul>
              <li>Los Angeles</li>
              <li>Moscow</li>
              <li>Warsaw</li>
              <li>Berlin</li>
            </ul>
          </div>
          <div class="footer-info">
            <h1 class="brand-number">08-616-8800-55</h1>
            <p class="brand-address">1600 Amphitheatre Pkwy <br>Mountain View, CA 94043, USA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-skewed-block">
    <h1>
      The ultimate <br>car rental service
    </h1>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

<!-- Owl carousel -->
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/owl.inti.js"></script>

<!-- COMMON JS -->
<script src="../assets/js/main.js"></script>
